html, body {
	width: 100%;
	margin: 0;
}
body {
	font-size: 1.5em;
	font-family: 'Viga', sans-serif;
	color: black;
	background-color: white;
	text-align: justify;
	line-height: 1.6;
	font-weight: normal;
	max-width: 100%;
}

#title {
	font-size: 5em;
	font-weight: bold;
	letter-spacing: 0.3em;
	text-shadow: 6px 6px black;
}

header {
	background-image: url("../images/flow.jpg");
	padding: 5em;
	box-sizing: border-box;
	background-repeat: no-repeat;
	background-size: 100%;
	letter-spacing: 1em;
	max-width: 100%;
	color: white;
	display: flex;
	justify-content: center;
}

h1 {
  text-align: center;
  font-size: 2.7em;
  font-weight: bold;
  letter-spacing: 0.4em;
}

}
h2 {
  text-align: center;
  font-size: 2.7em;
  font-weight: bold;
  letter-spacing: 0.4em;
}

h3 {
  font-size: 1.5em;
  font-weight: bold;
}

h4 {
	font-weight: bold;
}

li {
	padding: 5px;
	display: inline-flex;
	justify-content: center;
	color: black;
}

a {
   text-decoration: none;
   color: black;
}

 li a {
	float: center;
	position: relative;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 0.8em;
	transition: .5s; 
}

 nav ul {
	overflow: hidden;
	list-style-type: none;
	margin: 0;
	padding: 10px;
	font-size: 1.25em;
	letter-spacing: 1px;
	text-align: center;
	background-color: white;
	display: block;
	color: black;

}

nav a:active {
	background-color: #4CAF50;
	color: black;
	cursor: default;
}

li a:hover {
	background-color: black;
	color: white;
	border-radius: 5px;
}

.todo {
  margin: 0 60px;
  padding: 80px 0;
  border-top: 2px solid gainsboro;
}

.contenido {
  background: white;
}

.primero {
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;
}

.primerotexto {
  margin: 30px;
  width: 70%;
}

.imagen1 {
  width: 20%;

}

.imagen1 img {
  width: 100%;
  border-radius: 15px;

}

.segundo {
  display: flex;
  justify-content: flex-start;
}

.contenido p {
}

.segundotexto {
  margin: 0 30px;
  width: 70%;
}

.imagen2 {
  width: 20%;
}

.imagen2 img {
  width: 100%;
  border-radius: 15px;
}

.everything {
  margin: auto;
  padding: 80px;
}

.columnas {
	display: flex;
	justify-content: center;
	align-content: center;
    flex-flow: row wrap;
}

.columnas > .caja {
  background-color: #f4f6ff;
  width: 100px;
  margin: 10px;
  text-align: center;
  font-size: 1em;
  align-items: center;
  width: 30%;
  height: 20%;
  border-radius: 5%;

}
.img-circle {
    border-radius: 50%;
    width: 40%;
}

footer {
	color: white;
	font-size: 0.7em;
	padding: 1.2em 1.7em;
	background-color: black;
}

